.flex_withExtraItems {
  margin-bottom: 15px;
}

.flex_withInteractiveElements {
  margin-bottom: 15px;
}

.flex_extraInteractionElements {
  width: 100%;
}

.flex_interactionButtons {
  width: 100%;
}
